<div id = 'comment-feed'>
    <% if (locals.user) {%>                            
    
            <form action="/comments/create-comments"  method="POST">
                <input type="text" name="content" placeholder="Type here to start comment...">
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="comment">
            </form>
                


        
    <% } %>
    <div class="post-comments-list">
        <ul id="post-comments-<%= post._id %>">
            <% for (comment of post.comments){%>
                
            <p>
                <% if(locals.user && (locals.user.id == comment.user.id )){ %>
                <small>
                  
                        <a href="comments/destroy-comments/<%= comment._id %>">X</a>
                    
                </small>
                <% } %>
                
                <%= comment.content %>
                <br>
                <small>
                    <%= comment.user.name %>
                </small>
            </p>    
            <%} %>
        </ul>
    </div>
</div>