<section id = "post-feed">
    <h4>Posts</h4>
    <form action="/posts/create-post" method="POST">
        <textarea name="content" id="post-feed-content" cols="30" rows="4" placeholder="Type Here..." required></textarea>
        <input type="submit" value="submit">
    </form>
</section>
<section id = 'posts-list-container'>
    <ul>
        <% for(post of posts) { %> 
            <li>
                <p>
                    <% if (post.user.id == locals.user.id) {%>
                        <a href="/posts/delete/<%= post._id %>">X</a>
                    <%}%>
                    <!-- <%= post.comments %> -->
                    <%= post.content %>
                    <br>
                    <%= post.user.name %>
                  <%- include('_comment') %>
                </p>
            </li>
        <%}%>

    </ul>
</section>