<link rel="stylesheet" href="/css/home.css">
<div id = "home">
    <h1>
        CODEIAL / <%= title %>

    </h1>
    <% if(locals.user){ %> 
        <section id = "post-feed">
            <h4>Posts</h4>
            <form action="/posts/create-post" method="POST">
                <textarea name="content" id="post-feed-content" cols="30" rows="4" placeholder="Type Here..." required></textarea>
                <input type="submit" value="submit">
            </form>
        </section>
        <section id = 'posts-list-container'>
            <ul>
                <% for(post of posts) { %> 
                    <li>
                        <p>
                            <%= post.content %>
                            <br>
                            <%= post.user.name %>
                            <div id = 'comment-feed'>
                                <% if (locals.user) {%>                            
                                
                                        <form action="/comments/create-comments"  method="POST">
                                            <input type="text" name="content" placeholder="Type here to start comment...">
                                            <input type="hidden" name="post" value="<%= post._id %> ">
                                            <input type="submit" value="comment">
                                        </form>
                                            


                                    
                                <% } %>
                                <div class="post-comments-list">
                                    <ul id="post-comments-<%= post._id %>">
                                        <% for (comment of post.comments){%>
                                            
                                        <p>
                                            <%= comment.content %>
                                            <br>
                                            <small>
                                                <%= comment.user.name %>
                                            </small>
                                        </p>    
                                        <%} %>
                                    </ul>
                                </div>
                            </div>
                        </p>
                    </li>
                <%}%>

            </ul>
        </section>
    <%}%>

    
</div>
