<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <script src="https://kit.fontawesome.com/54fe11b59f.js" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href="/css/header.css"> -->
        <%- style %>
    </head>
    <body>
        <%- include('_header') %>
   
        <%- body %>

        <%- include('_footer') %>
    </body>
</html>